<!DOCTYPE html>
<html lang="en">

<head>
    <title>CryptoWand - AI Based CryptoCurrency & DeFi Trading Engine</title>
    <link href="{{ url_for('static', path='/style/styles.css') }}" rel="stylesheet">
    <!-- Sortable JS file -->
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <style>
        .alnright {
            text-align: right;
        }
        
        .alnleft {
            text-align: left;
        }
        
        .alncenter {
            text-align: center;
        }
    </style>
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
</head>

<body onload="openTab(event,'scan')" style="box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">

    <div class="bg-dark">
        <div style="text-align: center;color: white;  box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
            <h1>CryptoWand</h1>
            <p>Your AI companion for Crypto & Defi Trading</p>
        </div>
    </div>


    <div class="tab" style="text-align: center;color: white;  box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
        <button class="tablinks" onclick="openTab(event, 'home') ">Home</button>
        <button class="tablinks" onclick="openTab(event, 'scan') ">Market Scan</button>
        <button class="tablinks" onclick="openTab(event, 'exchanges') ">Exchanges</button>
        <button class="tablinks" onclick="openTab(event, 'ecos') ">Ecosystems</button>
        <button class="tablinks" onclick="openTab(event, 'defi') ">DeFi</button>
        <button class="tablinks" onclick="openTab(event, 'news') ">News</button>
    </div>

    <!-- Tab content -->

    <div id="scan" class="tabcontent bg-dark" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
        <table id="table" class="table-sm table-hover table-dark table-striped sortable table-responsive ">
            <div>
                <thead>
                    <tr style="position: sticky;">
                        <th class="sort" style="text-align:center">#</th>
                        <th style="text-align:center">Coin</th>
                        <th style="text-align:center">Symbol</th>
                        <th style="text-align:left">Name</th>
                        <th style="text-align:right">Rank(+-)</th>
                        <th style="text-align:right">Price ($)</th>
                        <th style="text-align:right"> %Change</th>
                        <th style="text-align:center">1h&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;24h&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7d&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;30d&nbsp;&nbsp;&nbsp;&nbsp; </th>
                        <th style="text-align:right">Twitter Followers </th>
                        <th style="text-align:right">Github Stars </th>
                        <th style="text-align:right">Reddit Posts/Day </th>
                        <th style="text-align:left">OnChain Activities </th>
                        <th style="text-align:left">Whale Sentiment </th>
                        <th style="text-align:right">Marketcap ($)</th>
                        <th style="text-align:right">Market Dominance </th>
                    </tr>
                </thead>
            </div>
            <tbody>
                {% for coin in cryptoinfo.values() %}
                <tr>
                    <td class="alncenter">{{ coin.rank }} </td>
                    <td>
                        <img width="30" height="30" src='{{ coin.coin_img_url }}'>
                    </td>
                    <td class="alncenter">
                        <a href={{ coin.coin_details_url }} target="_blank" style="color:#FFD700;">{{ coin.coin_symbol }} </a>
                    </td>
                    <td>{{ coin.coin_name }} </td>
                    <td class="alncenter"> {{ coin.coin_position_moves }} </td>
                    <td class="alnright">
                        {{ coin.price }}
                    </td>
                    <td class="alnright">{{ coin.pct_change_prev_run }}</td>
                    <td>
                        <table class="table">
                            <tr>
                                <td width='25%' class='{{ coin.cryptothermo.bit1 }}'>
                                    <div data-toggle="tooltip" data-placement="top" title='{{ coin.cryptothermo.pct_1h }}'><span>&nbsp;</span></div>
                                </td>
                                <td width='25% ' class='{{ coin.cryptothermo.bit2 }}'>
                                    <div data-toggle="tooltip" data-placement="top" title='{{ coin.cryptothermo.pct_24h }}'><span>&nbsp;</span></div>
                                </td>
                                <td width='25% ' class='{{ coin.cryptothermo.bit3 }}'>
                                    <div data-toggle="tooltip" data-placement="top" title='{{ coin.cryptothermo.pct_7d }}'><span>&nbsp;</span></div>
                                </td>
                                <td width='25% ' class='{{ coin.cryptothermo.bit4 }}'>
                                    <div data-toggle="tooltip" data-placement="top" title='{{ coin.cryptothermo.pct_30d }}'><span>&nbsp;</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="alnright">{{ coin.twitter_followers }} </td>
                    <td class="alnright">{{ coin.github_stars }}</td>
                    <td class="alnright">{{ coin.reddit_posts_perday }}</td>
                    <td class="alnleft">{{ coin.onchain_sentiment }}</td>
                    <td class="alnleft">{{ coin.whale_sentiment }}</td>
                    <td class="alnright">{{ coin.current_marketcap }}</td>
                    <td class="alnright">{{ coin.marketcap_dominance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <script src="https://widgets.coingecko.com/coingecko-coin-heatmap-widget.js"></script>
    <div id="hmap" class="tabcontent">
        <coingecko-coin-heatmap-widget height="800" locale="en" top="50" width="1200"></coingecko-coin-heatmap-widget>
    </div>

    <div id="ecos" class="tabcontent bg-dark" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; ">
        <table id="table" class="table-sm table-hover table-dark table-striped sortable" width="100%">
            <thead>
                <tr>
                    <th style="text-align:center ">S.No</th>
                    <th style="text-align:left">Category Name</th>
                    <th style="text-align:right">Market Cap ($)</th>
                    <th style="text-align:right">24H Market Cap Change (%)</th>
                    <th style="text-align:right">24H Volume ($)</th>
                </tr>
            </thead>
            <tbody>
                {% for categories in cryptocatinfo %}
                <tr>
                    <td class="alncenter">{{loop.index}}</td>
                    <td>
                        <a href="/cryptos/categories/{{categories.id}}&order=market_cap_desc&per_page=100&page=1&sparkline=false" target="_blank" style="color:#FFD700;">  {{ categories.name}} </a>
                    </td>
                    <td class="alnright">
                        {{ "{:,.2f}".format(categories.market_cap) }}
                    </td>
                    <td class="alnright"> {{ "{:,.2f}".format(categories.market_cap_change_24h)}} </td>
                    <td class="alnright"> {{ "{:,.2f}".format(categories.volume_24h)}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="exchanges" class="tabcontent bg-dark" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; ">
        <table id="table" class="table-sm table-hover table-dark table-striped sortable" width="100%">

            <!--
            "id": "binance", "name": "Binance", "year_established": 2017, "country": "Cayman Islands", "description": "", "url": "https://www.binance.com/", "image": "https://assets.coingecko.com/markets/images/52/small/binance.jpg?1519353250", "has_trading_incentive":
            false, "trust_score": 10, "trust_score_rank": 1, "trade_volume_24h_btc": 373649.5894566327, "trade_volume_24h_btc_normalized": 373649.5894566327
            -->
            <thead>
                <tr>
                    <th style="text-align:center ">S.No</th>
                    <th style="text-align:left">Symbol</th>
                    <th style="text-align:left">Exchange Name</th>
                    <th style="text-align:left">Incorpated In</th>
                    <th style="text-align:right">Operating Since</th>
                    <th style="text-align:right">Trust Rank</th>
                    <th style="text-align:right">Trust Score</th>
                    <th style="text-align:right">24H Trading Volume in BTC</th>
                </tr>
            </thead>
            <tbody>
                {% for exchange in cryptoexchangeinfo %}
                <tr>
                    <td class="alncenter">{{loop.index}}</td>
                    <td class="alnleft">
                        <a href={{exchange.url}} target="_blank" style="color:#FFD700;"> <img width="30" height="30" src={{ exchange.image}}> </a>
                    </td>
                    <td class="alnleft">
                        <a href=https://api.coingecko.com/api/v3/exchanges/{{exchange.id}} target="_blank" style="color:#FFD700;"> {{ exchange.name}}</a>
                    </td>
                    <td class="alnleft">
                        {{ exchange.country}}
                    </td>
                    <td class="alnright">
                        {{ exchange.year_established}}
                    </td>

                    <td class="alnright">
                        {{ exchange.trust_score_rank}}
                    </td>
                    <td class="alnright">
                        {{ exchange.trust_score}}
                    </td>

                    <td class="alnright">
                        {{ "{:,.2f}".format(exchange.trade_volume_24h_btc) }}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="defi" class="tabcontent bg-dark" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; ">
        <table id="table" class="table-sm table-hover table-dark table-striped sortable" width="100%">

            <!--
            "id": "binance", "name": "Binance", "year_established": 2017, "country": "Cayman Islands", "description": "", "url": "https://www.binance.com/", "image": "https://assets.coingecko.com/markets/images/52/small/binance.jpg?1519353250", "has_trading_incentive":
            false, "trust_score": 10, "trust_score_rank": 1, "trade_volume_24h_btc": 373649.5894566327, "trade_volume_24h_btc_normalized": 373649.5894566327
            -->
            <thead>
                <tr>
                    <th style="text-align:center ">S.No</th>
                    <th style="text-align:left">Symbol</th>
                    <th style="text-align:left">Exchange Name</th>
                    <th style="text-align:left">Incorpated In</th>
                    <th style="text-align:right">Operating Since</th>
                    <th style="text-align:right">Trust Rank</th>
                    <th style="text-align:right">Trust Score</th>
                    <th style="text-align:right">24H Trading Volume in BTC</th>
                </tr>
            </thead>
            <tbody>
                {% for exchange in cryptoexchangeinfo %}
                <tr>
                    <td class="alncenter">{{loop.index}}</td>
                    <td class="alnleft">
                        <a href={{exchange.url}} target="_blank"> <img width="30" height="30" src={{ exchange.image}}> </a>
                    </td>
                    <td class="alnleft">
                        <a href=https://api.coingecko.com/api/v3/exchanges/{{exchange.id}} target="_blank"> {{ exchange.name}}</a>
                    </td>
                    <td class="alnleft">
                        {{ exchange.country}}
                    </td>
                    <td class="alnright">
                        {{ exchange.year_established}}
                    </td>

                    <td class="alnright">
                        {{ exchange.trust_score_rank}}
                    </td>
                    <td class="alnright">
                        {{ exchange.trust_score}}
                    </td>

                    <td class="alnright">
                        {{ "{:,.2f}".format(exchange.trade_volume_24h_btc) }}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="../static/js/site.js "></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js "></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip "]').tooltip();
        });
    </script>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-light">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>CryptoWand
                        </h6>
                        <p>
                            CryptoWand specialises in providing advisory consulting to leading financial institutions and startups on investing into Cryptos , build low latency crypto trading platforms and importantly adhere to the regulations.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Crypto Advisory</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Crypto Compliance</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Investing & Trading Platforms</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Crypto Widgets</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i> Chigwell, Essex, United Kingdom</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i> senthil@senthilravindran.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 44 790 33 63178</p>

                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://www.senthilravindran.com/">CryptoWand.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>

</html>