.on {
    background-color: #ADFF2F;
    border: 1px;
    border-color: black;
    height: 10px;
    width: 10px;
}

.off {
    background-color: #FF6347;
    border: 1px;
    border-color: floralwhite;
    height: 10px;
    width: 10px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}

.alnright {
    text-align: right;
}

.alnleft {
    text-align: left;
}

.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}


/* Go from zero to full opacity */

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}